.section {
    composes: w-full from global;
    composes: h-full from global;
    composes: relative from global;
    composes: px-56 from global;
 }
 
 .forceOnTop {
    composes: section;
    composes: z-20 from global;
 }