.fullSizeSlide {
    width: calc(100vw - 100px);
    height: calc(100vh - 120px);
}

.fullSizeImage {
    composes: w-full from global;
    composes: h-full from global;
    composes: bg-no-repeat from global;
    composes: bg-center from global;
    composes: bg-contain from global;
}

.slickArrow {
    composes: p-2 from global;
    composes: absolute from global;
    composes: top-1/2 from global;
    composes: -translate-y-1/2 from global;
    composes: bg-white from global;
    composes: border-2 from global;
    composes: border-black from global;
    composes: rounded-full from global;
    composes: z-10 from global;
}

.slickPrevArrow {
    composes: slickArrow;
    composes: left-3 from global;
}

.slickNextArrow {
    composes: slickArrow;
    composes: right-3 from global;
}