.root {
    composes: fixed from global;
    composes: bottom-8 from global;
    composes: left-24 from global;
    composes: z-header from global;
}

.item {
    composes: mb-6 from global;
}

.link {
    composes: block from global;
    composes: p-4 from global;
    composes: border from global;
    composes: border-white from global;
    composes: rounded-full from global;
}