@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

body.modalOpen {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --tw-anaglyph-color1: rgb(68, 68, 68);
    --tw-anaglyph-color2: theme(colors.sun.DEFAULT);
    --tw-anaglyph-text-ofx1: 0;
    --tw-anaglyph-text-ofx2: 0;
    --tw-anaglyph-text-ofy1: 0;
    --tw-anaglyph-text-ofy2: 0;
    --tw-anaglyph-text-blur: 0;
    --tw-anaglyph-shadow-blur: 0;
    --tw-anaglyph-bs-color1: rgba(68, 68, 68, 0.2);
    --tw-anaglyph-bs-color2: theme(colors.sun.DEFAULT);
  }

  .ah-secondary {
    --tw-anaglyph-color1: rgb(49, 49, 49);
    --tw-anaglyph-color2: rgb(81, 81, 81);
  }

  .ah-normal {
    --tw-anaglyph-text-ofx1: -2px;
    --tw-anaglyph-text-ofx2: 2px;
    --tw-anaglyph-text-blur: 0;
    --tw-anaglyph-shadow-blur: 3px;
  }

  .ah-wide {
    --tw-anaglyph-text-ofx1: 0;
    --tw-anaglyph-text-ofx2: 0;
    --tw-anaglyph-text-blur: 0;
    --tw-anaglyph-shadow-blur: 0;
  }

  .ah-hidden {
    --tw-anaglyph-text-ofx1: 0;
    --tw-anaglyph-text-ofx2: 0;
    --tw-anaglyph-text-blur: 0;
  }

  .text-shadow-ah {
    text-shadow: 0 0 var(--tw-anaglyph-text-blur) currentColor, var(--tw-anaglyph-text-ofx1) var(--tw-anaglyph-text-ofy1) var(--tw-anaglyph-shadow-blur) var(--tw-anaglyph-color1), var(--tw-anaglyph-text-ofx2) var(--tw-anaglyph-text-ofy2) var(--tw-anaglyph-shadow-blur) var(--tw-anaglyph-color2);
  }

  .box-shadow-ah {
    box-shadow: var(--tw-anaglyph-text-ofx1) var(--tw-anaglyph-text-ofy1) var(--tw-anaglyph-shadow-blur) var(--tw-anaglyph-bs-color1), var(--tw-anaglyph-text-ofx2) var(--tw-anaglyph-text-ofy2) var(--tw-anaglyph-shadow-blur) var(--tw-anaglyph-bs-color2)
  }

  .textAnaglyph {
    @apply text-clip;
    @apply tracking-widest;
    @apply text-shadow-ah;
  }

  .textAnaglyphSecondary {
    @apply textAnaglyph;
    @apply ah-secondary;
  }

  .emphasis {
    @apply textAnaglyph;
    @apply tracking-wide;
  }

  .emphasis-wide {
    @apply emphasis;
    @apply ah-wide;
  }

  .emphasis-secondary {
    @apply emphasis;
    @apply ah-secondary;
  }

  .emphasis-secondary-wide {
    @apply emphasis;
    @apply ah-secondary;
    @apply ah-wide;
  }

  .title {
    @apply max-w-screen;
    @apply overflow-hidden;
  }

  .titleAnaglyph {
    @apply font-header;
    @apply font-bold;
    @apply textAnaglyph;
  }

  .titleAnaglyphSecondary {
    @apply font-header;
    @apply font-bold;
    @apply textAnaglyphSecondary;
  }

  .title-hero {
    @apply title;
    @apply titleAnaglyph;
    @apply text-2xl;
    @apply sm_text-3.5xl;
    @apply leading-none;
    @apply md_text-4xl;
    @apply lg_text-5xl;
    @apply xl_text-6xl;
    @apply 2xl_text-7xl;
    @apply xl_leading-over-loose;
  }

  h1, .title-h1 {
    @apply title;
    @apply titleAnaglyph;
    @apply leading-tight;
    @apply text-xl;
    @apply sm_text-2xl;
    @apply lg_text-3xl;
    @apply 2xl_text-4xl;
    @apply 4xl_text-5xl;
  }
  
  h2, .title-h2 {
    @apply title;
    @apply titleAnaglyph;
    @apply text-lg;
    @apply sm_text-2xl;
    @apply xl_text-4.5xl;
  }
  
  h3, .title-h3 {
    @apply title;
    @apply titleAnaglyph;
    @apply text-lg;
    @apply sm_text-xl;
    @apply xl_text-2xl;
  }
  
  h4, .title-h4 {
    @apply title;
    @apply titleAnaglyph;
    @apply text-lg;
    @apply xl_text-xl;
  }
  
  h5, .title-h5 {
    @apply title;
    @apply titleAnaglyph;
    @apply xl_text-lg;
  }

  .interactiveAnaglyph {
    @apply textAnaglyph;
    transition: all 150ms !important;
  }

  .interactiveAnaglyph:hover {
    @apply ah-hidden;
  }

  .anchor-clear {
    @apply tracking-widest;
    @apply underline;
    @apply underline-offset-3;
    @apply hover_no-underline;
    @apply hover_cursor-pointer;
  }

  .anchor {
    @apply interactiveAnaglyph;
    @apply anchor-clear;
  }

  .buttonAnaglyph {
    @apply relative;
    @apply border-2;
  }

  .buttonAnaglyph::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0.2px;
    width: calc(100% + 5px);
    height: calc(100% + 3.35px);
    background: transparent;
    opacity: 0.8;
    transition: all 150ms;
    z-index: -1;
    border: 3px solid var(--tw-anaglyph-color1);
  }

  .buttonAnaglyph::after {
    position: absolute;
    content: "";
    left: -4px;
    top: -1.7px;
    width: calc(100% + 6.25px);
    height: calc(100% + 2.8px);
    background: transparent;
    opacity: 0.8;
    transition: all 150ms;
    z-index: -1;
    border: 3px solid var(--tw-anaglyph-color2);
  }

  .buttonAnaglyph:hover::before,
  .buttonAnaglyph:focus::before {
    border-width: 0;
  }

  .buttonAnaglyph:hover::after,
  .buttonAnaglyph:focus::after {
    border-width: 0;
  }

  .button-base {
    @apply relative;
    @apply border-2;
  }

  .button-primary {
    @apply button-base;
    @apply rounded-full;
    @apply border-black;
  }

  .button-secondary {
    @apply button-base;
    @apply rounded-full;
    @apply border-white;
  }

  .button-tertiary {
    @apply button-base;
    @apply border-white;
  }

  .button-tertiary::before,
  .button-tertiary::after {
    @apply ah-secondary;
  }

  .pill {
    @apply button-primary;
    @apply px-8;
    @apply py-0.5;
    @apply border-black;
    @apply pointer-events-none;
    @apply text-center;
    @apply transition-all;
    @apply box-shadow-ah;
  }

  .pill-secondary {
    @apply pill;
    @apply button-secondary;
  }


  .imageAnaglyphWrapper {
    width: max-content;
    height: max-content;
    overflow: hidden;
    position: relative;
  }

  .imageAnaglyphWrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }

  .imageAnaglyph {
    filter: saturate(0.6) url(#rgb-split);
    transform: translateZ(0);
  }



  .halftone {
    position: relative;
    background: white;
    filter: contrast(50);
  }
  
  .halftone::before {
    --bgSize: 1.4rem;
    --bgPosition: calc(var(--bgSize) / 2);
    --stop1: 3%;
    --stop2: 45%;
    
    content: '';
    position: absolute;
    width: 20%;
    height: 10%;
    top: 0;
    right: 0;
    background-repeat: round;
    background-position: center;
    background-image: radial-gradient(circle at center, black var(--stop1), transparent var(--stop2)), radial-gradient(circle at center, black var(--stop1), transparent var(--stop2));
    background-size: var(--bgSize) var(--bgSize);
    background-position: 0 0, var(--bgPosition) var(--bgPosition);
  }
}
