@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  .textAnaglyph {
    @apply text-clip;
    @apply tracking-widest;
    text-shadow: -2px 0 1px rgb(30,242,241), 2px 0 1px rgb(246,5,10);
  }

  .textAnaglyphSecondary {
    @apply text-clip;
    @apply tracking-widest;
    text-shadow: -2px 0 1px rgb(30,242,241), 2px 0 1px rgb(255, 248, 42);
  }

  .emphasis {
    @apply textAnaglyph;
    @apply tracking-wide;
  }

  .emphasis-wide {
    @apply emphasis;
    text-shadow: -4px 0 3px rgb(30,242,241), 4px 0 3px rgb(246,5,10);
  }

  .emphasis-secondary {
    @apply textAnaglyphSecondary;
    @apply tracking-wide;
  }

  .emphasis-secondary-wide {
    @apply emphasis-secondary;
    text-shadow: -4px 0 3px rgb(30,242,241), 4px 0 3px rgb(255, 248, 42);
  }

  .titleAnaglyph {
    @apply font-header;
    @apply font-bold;
    @apply textAnaglyph;
  }

  .titleAnaglyphSecondary {
    @apply font-header;
    @apply font-bold;
    @apply textAnaglyphSecondary;
  }

  .title-hero {
    @apply titleAnaglyph;
    @apply text-3xl;
    @apply leading-none;
    @apply md_text-5xl;
    @apply lg_text-6xl;
    @apply xl_text-7xl;
    @apply 2xl_text-8xl;
    @apply xl_leading-over-loose;
  }

  h1, .title-h1 {
    @apply titleAnaglyph;
    @apply leading-tight;
    @apply text-3xl;
    @apply xl_text-5xl;
  }
  
  h2, .title-h2 {
    @apply titleAnaglyph;
    @apply text-2xl;
    @apply xl_text-3xl;
  }
  
  h3, .title-h3 {
    @apply titleAnaglyph;
    @apply text-xl;
    @apply xl_text-2xl;
  }
  
  h4, .title-h4 {
    @apply titleAnaglyph;
    @apply text-lg;
    @apply xl_text-xl;
  }
  
  h5, .title-h5 {
    @apply titleAnaglyph;
    @apply xl_text-lg;
  }

  .interactiveAnaglyph {
    @apply textAnaglyph;
    transition: all 150ms !important;
  }

  .interactiveAnaglyph:hover {
    text-shadow: 0px 0px 0px rgb(30,242,241), 0px 0px 0px rgb(246,5,10);
  }

  .anchor-clear {
    @apply tracking-widest;
    @apply underline;
    @apply underline-offset-3;
    @apply hover_no-underline;
    @apply hover_cursor-pointer;
  }

  .anchor {
    @apply interactiveAnaglyph;
    @apply anchor-clear;
  }

  .buttonAnaglyph {
    @apply interactiveAnaglyph;
    @apply relative;
    @apply border-2;
  }

  .buttonAnaglyph::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0.2px;
    width: calc(100% + 5px);
    height: calc(100% + 3.35px);
    background: transparent;
    opacity: 0.8;
    transition: all 150ms;
    z-index: -1;
  }

  .buttonAnaglyph::after {
    position: absolute;
    content: "";
    left: -4px;
    top: -1.7px;
    width: calc(100% + 6.25px);
    height: calc(100% + 2.8px);
    background: transparent;
    opacity: 0.8;
    transition: all 150ms;
    z-index: -1;
  }

  .buttonAnaglyph:hover::before,
  .buttonAnaglyph:focus::before {
    border-width: 0;
  }

  .buttonAnaglyph:hover::after,
  .buttonAnaglyph:focus::after {
    border-width: 0;
  }

  .button-primary {
    @apply buttonAnaglyph;
    @apply border-black;
  }

  .button-primary::before {
    border: 3px solid #00dcff;
  }

  .button-primary::after {
    border: 3px solid #ff0000;
  }

  .button-secondary {
    @apply buttonAnaglyph;
    @apply border-white;
  }

  .button-secondary::before {
    border: 3px solid #00dcff;
  }

  .button-secondary::after {
    border: 3px solid #ff0000;
  }

  .button-tertiary {
    @apply buttonAnaglyph;
    @apply border-white;
  }

  .button-tertiary::before {
    border: 3px solid #00dcff;
  }

  .button-tertiary::after {
    border: 3px solid rgb(255, 248, 42);
  }

  .pill {
    @apply button-secondary;
    @apply rounded-full;
    @apply before_rounded-full;
    @apply after_rounded-full;
    @apply px-8;
    @apply py-0.5;
    @apply border-white;
    @apply pointer-events-none;
    @apply text-center;
    text-shadow: none;
  }


  .imageAnaglyphWrapper {
    width: max-content;
    height: max-content;
    overflow: hidden;
    position: relative;
  }

  .imageAnaglyphWrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }

  .imageAnaglyph {
    filter: saturate(0.6) url(#rgb-split);
    transform: translateZ(0);
  }
}
