.fieldGroup {
    composes: columns from global;
    composes: flex from global;
    composes: mb-3 from global;
    composes: gap-4 from global;
}

.actions {
    composes: py-12 from global;
    composes: w-full from global;
}