.root {
    composes: flex from global;
    composes: w-screen from global;
    composes: min-h-screen from global;
    composes: items-center from global;
    margin: 0 -100%;
}

.formColumn {
    composes: w-full from global;
    composes: px-8 from global;
    composes: py-12 from global;
    composes: xl_px-20 from global;
    composes: xl_py-28 from global;
}

.contentColumn {
    composes: hidden from global;
    composes: xl_block from global;
    composes: w-1/2 from global;
    composes: self-stretch from global;
    composes: relative from global;
    composes: bg-no-repeat from global;
    composes: bg-cover from global;
    composes: bg-center from global;
}

.title {
    composes: text-4xl from global;
    composes: font-medium from global;
    composes: mb-16 from global;
}