.footer {
    composes: w-full from global;
    composes: pb-4 from global;
    composes: pt-16 from global;
    composes: flex from global;
    composes: justify-between from global;
    composes: items-center from global;
}

.copyright {
    composes: text-sm from global;
    composes: xl_pl-10 from global;
}

.links {
    composes: flex from global;
    composes: gap-x-3 from global;
    composes: xl_pr-24 from global;
}

.footerLogo {
    composes: text-base from global;
    composes: font-semibold from global;
}