.footer {
    composes: grid from global;
    composes: w-full from global;
    composes: pb-4 from global;
    composes: pt-16 from global;
    composes: px-4 from global;
    composes: sm_px-12 from global;
}

.mainRow {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: gap-y-2 from global;
    composes: lg_grid-cols-3 from global;
    composes: w-full from global;
    composes: py-4 from global;
    composes: items-center from global;
}

.copyright {
    composes: text-sm from global;
    composes: text-center from global;
    composes: lg_text-left from global;
    composes: -sm_w-full from global;
    composes: -sm_text-center from global;
}

.links {
    composes: flex from global;
    composes: gap-x-4 from global;
    composes: text-center from global;
    composes: justify-center from global;
    composes: lg_justify-end from global;
    composes: -sm_w-full from global;
    composes: text-sm from global;
}

.footerLogoWrapper {
    composes: w-full from global;
    composes: text-center from global;
}
.footerLogo {
    composes: text-base from global;
    composes: font-semibold from global;
    composes: font-header from global;
}

.recaptchaLegal {
    composes: -sm_order-2 from global;
    composes: w-full from global;
    composes: text-xs from global;
    composes: text-center from global;
    composes: px-4 from global;
    composes: pb-4 from global;
}