.footer {
    composes: w-full from global;
    composes: pb-4 from global;
    composes: pt-16 from global;
}

.mainRow {
    composes: w-full from global;
    composes: py-4 from global;
    composes: flex from global;
    composes: -sm_flex-wrap from global;
    composes: justify-between from global;
    composes: items-center from global;
}

.copyright {
    composes: text-sm from global;
    composes: xl_pl-10 from global;
    composes: -sm_w-full from global;
    composes: -sm_text-center from global;
}

.links {
    composes: flex from global;
    composes: gap-x-3 from global;
    composes: -sm_w-full from global;
    composes: -sm_justify-center from global;
    composes: -sm_pb-4 from global;
    composes: xl_pr-24 from global;
}

.footerLogoWrapper {
    composes: -sm_w-full from global;
    composes: -sm_text-center from global;
    composes: -sm_py-4 from global;
}
.footerLogo {
    composes: text-base from global;
    composes: font-semibold from global;
}

.recaptchaLegal {
    composes: w-full from global;
    composes: text-xs from global;
    composes: text-center from global;
    composes: px-4 from global;
    composes: pb-4 from global;
}