.root {
    min-height: 100vh;
    width: 100%;
}

.titleBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.title {
    flex-grow: 1;
    font-weight: bold;
    font-size: 4rem;
}

.actions {

}

.slider { 
    width: 100%;
}

.sliderTrack {
    display: flex;
    gap: 2em;
    transition: all 200ms;
}

.slide {
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    justify-content: stretch;
}

.slideImage {
    width: 100%;
    height: 200px;
    background: #ddd;
}

.slideContent {
    padding: 1em;
    flex-grow: 1;
}

.slideAction {
    height: 40px;
    padding: 0.5em 1em;
    text-align: right;
}