.root {
    min-height: 100vh;
    width: 100%;
}

.titleBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.title {
    flex-grow: 1;
    font-weight: bold;
    font-size: 4rem;
}

.certificationList {
    composes: grid from global;
    composes: grid-cols-6 from global;
    composes: gap-4 from global;
}

.certificationItem {
    composes: w-full from global;
}

.placeHolderImage {
    composes: w-60 from global;
    composes: h-28 from global;
    composes: bg-white from global;
}

.clientList {
    composes: grid from global;
    composes: grid-cols-3 from global;
    composes: gap-8 from global;
}

.clientItem {
    composes: grid from global;
    composes: grid-cols-5 from global;
}

.clientLogo {
    composes: col-span-2 from global;
    composes: pt-full from global;
    composes: relative from global;
}

.clientLogoPlaceholder {
    composes: rounded-full from global;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80%;
    height: 80%;
    background-color: white;
}

.clientContent {
    composes: col-span-3 from global;
    composes: content-center from global;
    composes: flex from global;
    composes: items-start from global;
    composes: flex-col from global;
    composes: justify-center from global;
    composes: pl-8 from global;
}

.clientName {
    composes: font-bold from global;
}