.menuButton {
    composes: p-4 from global;
    composes: leading-0 from global;
    composes: text-0 from global;
    composes: absolute from global;
    composes: top-1/2 from global;
    composes: right-6 xl_right-12 from global;
    composes: right-12 from global;
    composes: -translate-y-1/2 from global;
    composes: z-1 from global;
}

.menuButtonClose {
    composes: menuButton;
    @apply right-8 xl_right-16;
}

.menuButtonIcon {
    composes: relative from global;
    composes: w-[40px] from global;
    composes: h-[20px] from global;
}

.burgerLine {
    composes: absolute from global;
    composes: right-0 from global;
    composes: block from global;
    composes: border-white from global;
    composes: border-b from global;
    composes: transition-all from global;
    composes: duration-200 from global;
    composes: origin-center from global;
}

:global(.header-scrolled) .burgerLine,
:global(header:has(+ .content-page)) .burgerLine,
.menuButtonClose .burgerLine {
    @apply border-black;
}

.burgerTop {
    composes: burgerLine;
    composes: top-0 from global;
    width: 80%;
}

.menuButtonClose .burgerTop {
    transform: rotate(45deg);
    top: 50%;
    width: 100%;
}

.burgerMiddle {
    composes: burgerLine;
    composes: top-1/2 from global;
    composes: w-full from global;
}

.menuButtonClose .burgerMiddle {
    transform: rotate(-45deg);
}

.burgerBottom {
    composes: burgerLine;
    composes: bottom-0 from global;
    width: 80%;
}

.menuButtonClose .burgerBottom {
    transform: rotate(45deg);
    top: 50%;
    bottom: auto;
    width: 100%;
}

.menuButton:hover .burgerLine {
    width: 100%;
}

.baseMenu {
    composes: fixed from global;
    composes: top-0 from global;
    composes: left-0 from global;
    composes: w-full from global;
    composes: h-full from global;
    composes: bg-white from global;
    composes: transition-all from global;
    composes: duration-200 from global;
    composes: pr-4 pt-12 xl_pt-20 from global;
}

.menu {
    composes: baseMenu;
    composes: opacity-0 from global;
    composes: pointer-events-none from global;
}

.menuOpen {
    composes: baseMenu;
    @apply opacity-100;
    @apply pointer-events-auto;
}

.navList {
    composes: mt-32 from global;
    composes: w-full from global;
    composes: text-right from global;
    composes: text-3xl from global;
    composes: lg_text-5xl from global;
    composes: xl_text-6xl from global;
    composes: font-bold from global;
    composes: pr-8 xl_pr-16 from global;
    composes: font-header from global;
    composes: max-h-screen from global;
    composes: overflow-y-auto from global;
    max-height: calc(100vh - theme(spacing.20));
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.navList > li {
    line-height: 1.3;
}

.navList::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@screen md {
    .navList {
        font-size: min(calc(80*1vh / var(--number-of-items) * .65), 20vw);
    }
}

@screen xl {
    .navList {
        max-height: calc(100vh - theme(spacing.32));
    }
}

.link {
    composes: anchor-secondary from global;
    @apply tracking-widest;
    @apply underline-offset-neg1;
}

.activeLink {
    composes: emphasis-wide from global;
    composes: hover_ah-hidden from global;
}